<div class="container">
  <div class="heading">Registro</div>
  <form (ngSubmit)="usuarioRegistro()" [formGroup]="formularioRegistro" id="form-register"  enctype="multipart/form-data" class="form" method="POST" role="form">
    <div class="direccion">
      <input
      required=""
      class="input"
      type="email"
      name="correo"
      id="correo"
      formControlName="correo"
      placeholder="Correo Electronico"
    />
    <img src="../../../assets/logos/cerrar.png" [hidden]="correo.valid || correo.untouched">
    <img src="../../../assets/logos/true.png" [hidden]="correo.invalid || correo.untouched">
    @if(correo.errors?.['minlength']){
        <div class="invalid-feedback">
            The correo has to be completed! Introduce:
            {{correo.errors?.['minlength'].requiredLength - correo.errors?.['minlength'].actualLength}}
            more characters!
        </div>
    } 
  
    </div>
    <div class="direccion">
      <input
        required=""
        class="input"
        type="text"
        name="nombre"
        id="nombre"
        formControlName="nombre"
        placeholder="nombre"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="nombre.valid || nombre.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="nombre.invalid || nombre.untouched">
      @if(nombre.errors?.['minlength']){
          <div class="invalid-feedback">
              The nombre has to be completed! Introduce:
              {{nombre.errors?.['minlength'].requiredLength - nombre.errors?.['minlength'].actualLength}}
              more characters!
          </div>
      } 

    </div>
    <div class="direccion">
      <input
        required=""
        class="input"
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="password.valid || password.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="password.invalid || password.untouched">
    </div>
      @if(password.errors?.['minlength']){
          <div class="invalid-feedback">
              ¡Introduzca:
              {{password.errors?.['minlength'].requiredLength - password.errors?.['minlength'].actualLength}}
              caracteres mas!
          </div>
      } 
      
    <div class = "direccion">
      <input
      required=""
      class="input"
      type="password"
      name="password2"
      id="password2"
      formControlName="password2"
      placeholder="Repita el password"
    />
    <img src="../../../assets/logos/cerrar.png" [hidden]="password2.valid || password2.untouched">
    <img src="../../../assets/logos/true.png" [hidden]="password2.invalid || password2.untouched">
    </div>
    @if(password2.errors?.['minlength']){
        <div class="invalid-feedback">
          ¡Introduzca
            {{password2.errors?.['minlength'].requiredLength - password2.errors?.['minlength'].actualLength}}
            caracteres mas!
        </div>
    } 
    @if(formularioRegistro.hasError('coinciden') && formularioRegistro.get('password2')?.touched)
    {
      <p class="invalid-feedback">Las contraseñas no coinciden</p>
    }
    <br>
    <div class="direccion">
      <input
        required=""
        class="input"
        type="text"
        name="calle"
        id="calle"
        formControlName="calle"
        placeholder="Calle"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="calle.valid || calle.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="calle.invalid || calle.untouched">
      
      <input
        required=""
        class="input"
        type="number"
        name="numeroCalle"
        id="numeroCalle"
        formControlName="numeroCalle"
        placeholder="Numero"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="numeroCalle.valid || numeroCalle.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="numeroCalle.invalid || numeroCalle.untouched">
      
    </div>
    <br>
    <div class="direccion">
      <input
        required=""
        class="input"
        type="number"
        name="codigoPostal"
        id="codigoPostal"
        formControlName="codigoPostal"
        placeholder="Codigo Postal"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="codigoPostal.valid || codigoPostal.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="codigoPostal.invalid || codigoPostal.untouched">
      <input
        required=""
        class="input"
        type="text"
        name="provincia"
        id="provincia"
        formControlName="provincia"
        placeholder="Provincia"
      />
      <img src="../../../assets/logos/cerrar.png" [hidden]="provincia.valid || provincia.untouched">
      <img src="../../../assets/logos/true.png" [hidden]="provincia.invalid || provincia.untouched">
    </div>
    
    <!-- <input
      required=""
      class="input"
      type="file"
      name="avatar"
      id="avatar"
      placeholder="Seleccione un avatar"
    /> -->
    <br /><br />
    <input type="file" formControlName="imagen" name="imagen" (change)="onFileChange($event)" required>
    <br><br>
   
      <input class="login-button" type="submit" value="Crear Cuenta">
    
    <input
      class="login-button"
      type="button"
      value="Iniciar Sesion"
      (click)="cambiarEnviar()"
    />
    @if(formularioRegistro.touched && formularioRegistro.hasError('required')){
        <div class="col my-auto text-danger">
          The post must have at least a name, a correo, password or an image
        </div>
        }
  </form>
  <br /><br />
</div>
