
<div class="container">
    <div class="heading">Registro</div>
    <form action="" class="form">
        <input required="" class="input" type="email" name="email" id="email" placeholder="Correo Electronico">
        <input required="" class="input" type="text" name="usuario" id="usuario" placeholder="Usuario">
        <input required="" class="input" type="password" name="contraseña1" id="contraseña1" placeholder="Password">
        <input required="" class="input" type="password" name="contraseña2" id="contraseña2" placeholder="Repita el password">
        <div class="direccion">
            <input required="" class="input" type="text" name="calle" id="calle" placeholder="Calle">
            <input required="" class="input" type="number" name="numeroCalle" id="numeroCalle" placeholder="Numero">
        </div>
        <input required="" class="input" type="number" name="codigoP" id="codigoP" placeholder="Codigo Postal">
        <input required="" class="input" type="text" name="provincia" id="provincia" placeholder="Provincia">
        <input required="" class="input" type="file" name="avatar" id="avatar" placeholder="Seleccione un avatar">
        <br><br>
        <span class="forgot-password"><a href="#">¿Olvido su contraseña?</a></span>
        <input class="login-button" type="submit" value="Crear Cuenta">
        <input class="login-button" type="button" value="Iniciar Sesion" (click)="cambiarEnviar()">
    </form>
    <br><br>
</div>
        