<main>
    <h1>Mi Buzon</h1>
    
    <div class="contenedor">
        <div class="email">
            <div class="texto">
                <p>Esto es un mensaje del equipo de soporte.</p><br>
                <p>Usted recibira en este apartado los mensajes provenientes de las solicitudes de compra de sus productos
                    se le informara del usuario y datos personales del usuario que esta interesado en el producto
                </p>
            </div>
           
        </div>
        @for(mail of mails;track mail.id){
            <div class="email">
                <div class="texto">
                    <p>Has recibido una notificacion de tu producto {{mail.titulo}}.</p><br>
                    <p>El usuario {{mail.nombre}} esta interesado en tu producto, pongase en contacto con el 
                        atraves de su numero de telefono {{mail.telefono}} o traves de su correo electronico {{mail.correo}} <br><br>
                    <data>{{mail.fecha}}</data></p>
                </div>
                <div class="imagen">
                    <img src="../../../assets/logos/papelera2.png" >
                </div>
            </div>
        }

        @for(mail of mails2;track mail.id){
            <div class="email">
                <div class="texto">
                    <p>¡Enhorabuena! Has adquirido el producto {{mail.titulo}}.</p><br>
                    <p>¿Porque no le dejas una valoracion? ¡Es gratis!
                        <button (click)="valoracion(mail.productousu_id,mail.receptor_id)">Dejar Valoracion</button><br><br>
                    <data>{{mail.fecha}}</data></p>
                </div>
                <div class="imagen">
                    <img src="../../../assets/logos/papelera2.png" >
                </div>
            </div>
        }
    </div>
</main>