<main class="contenedor">
    @if(text){
        <h1>Los productos de {{text}}</h1>
    }
    @else {
        <h1>Mis Productos</h1>
    }
    
    <div class="venta-vendido">
        <p [class.activo]="enVentaActivo" (click)="activarEnVenta()">En venta</p>
        <p [class.activo]="vendidoActivo" (click)="activarVendido()">Vendido</p>
    </div>
   
    @if(enVentaActivo){
        <div class="contenedor-productos">
            @for(market of marketPlace;track market.id){
                <article class="producto">
                    <section>
                        <div>
                            <img [src]="'http://127.0.0.1:8000/' + market.imagen" >
                        </div>
                        <div class="contenido">
                            <div class="favoritos">
                                <img [src]="'http://127.0.0.1:8000/' + market.usuario?.avatar">
                                <p>{{market.precio}}€</p>
                                <img src="../../../assets/logos/corazonlleno.png">
                            </div>
                            <p>{{market.titulo}}</p>
                            <div>
                            </div>
                        </div>
                    </section>
                </article>
            }@empty {
                @if(imagen){
                    <div class="loader-container">
                        <div class="loader"></div>
                        <div class="loader-text">Loading...</div>
                    </div>
                }
                @else {
                    <div class="posicion">
                        <img src="../../../assets/logos/carro2.png" class="carro2">
                    </div>
                }
            }
        </div>
    }
    @else {
        <div class="contenedor-productos">
            @for(venta of ventas;track venta.id){
                <article class="producto">
                    <section>
                        <div class="contenedor-imagen">
                            <img [src]="'http://127.0.0.1:8000/' + venta.imagen" >
                            <p class="etiqueta-superpuesta">Vendido</p>
                        </div>
                        <div class="contenido">
                            <div class="favoritos">
                                <img [src]="'http://127.0.0.1:8000/' + venta.avatar">
                                <p>{{venta.precio}}€</p>
                                <data>Venta: <br>{{venta.fecha}}</data>
                            </div>
                            <p>{{venta.titulo}}</p>
                            <div>
                            </div>
                        </div>
                    </section>
                </article>
            }@empty {
                @if(imagen){
                    <div class="loader-container">
                        <div class="loader"></div>
                        <div class="loader-text">Loading...</div>
                    </div>
                }
                @else {
                    <div class="posicion">
                        <img src="../../../assets/logos/carro2.png" class="carro2">
                    </div>
                }
            }
        </div>

    }
    <HR>
    <br><br><br><br>
</main>

