<main class="contenedor">
    @if(text){
        <h1>Los Favoritos de {{text}}</h1>
    }
    @else {
        <h1>Mis Favoritos</h1>
    }
    <br><br>
    <hr>
    <div class="contenedor-productos">
        @for(favorito of favoritos;track favorito.id){
            <article class="producto">
                <section>
                    <div>
                        <img [src]="'http://127.0.0.1:8000/' + favorito.imagen" >
                    </div>
                    <div class="contenido">
                        <div class="favoritos">
                            <img [src]="'http://127.0.0.1:8000/' + favorito.usuario?.avatar">
                            <p>{{favorito.precio}}€</p>
                            <img src="../../../assets/logos/corazonlleno.png" (click)="borrarFavorito(favorito.id ?? 0)">
                        </div>
                        <p>{{favorito.titulo}}</p>
                        <div>
                        </div>
                    </div>
                </section>
            </article>
        }@empty {
            @if(imagen){
                <div class="loader-container">
                    <div class="loader"></div>
                    <div class="loader-text">Loading...</div>
                </div>
            }
            @else {
                <div class="posicion">
                    <img src="../../../assets/logos/carro2.png" class="carro2">
                </div>
            }
        }
       
    </div>
    
    <br><br><br><br>
</main>

