$morado-claro: rgb(110, 1, 149);
$blanco: white;

%mi-flexContainer-footer{
    background-color: $blanco;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    height: 4rem;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-family: monospace;
    
    // position: fixed;
    // bottom: 0;
    // width: 100%;
}
   


.flex-footer{

    @extend %mi-flexContainer-footer;
    .pie{
        font-size: large;
        margin: 0 10px;
        > a{
            text-decoration: none;
            color: black;

            &:hover{
                color:$morado-claro
            }
        }
    }
}