main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgb(8, 40, 85), rgb(149, 149, 230));
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  .contenedor {
    background-color: white;
    width: 50%;
    padding: 0px;
    border-radius: 20px;
    overflow: hidden;

    .usuario-informacion {

      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;

      .detalles-usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 20%;

        >img {
          width: 30%;
          border-radius: 100%;
        }

        .info {
          p {
            padding-top: 20px;
            font-size: 20px;
          }

          img {

            width: 70%;
          }
        }

      }

      .ventas-valoraciones {
        .ventas {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        p {
          text-align: center;
        }
      }

      .favoritos-mensaje {
        >img {
          width: 40%;
          cursor: pointer;
        }

      }
    }

    .imagen {
      img {
        width: 100%;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        height: 100%;
      }


      bm-map {
        display: block;
        height: 400px;
        width: 800px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
      }
    }

    .precio-direccion {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;

      p {
        color: red;
        font-size: 30px;
      }

      .direccion {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 40px;
        }
      }

    }

    .nombre-descripcion {
      padding: 20px;

      .nombre {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

    }

    .boton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;

      button {
        position: relative;
        margin: 0;
        padding: 17px 35px;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #fff;
        border: 1px solid rgba(22, 76, 167, 0.6);
        border-radius: 10px;
        color: #1d89ff;
        font-weight: 400;
        font-family: inherit;
        z-index: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
      }

      button span {
        color: #164ca7;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
      }

      button:hover {
        animation: rotate624 0.7s ease-in-out both;
      }

      button:hover span {
        animation: storm1261 0.7s ease-in-out both;
        animation-delay: 0.06s;
      }

      @keyframes rotate624 {
        0% {
          transform: rotate(0deg) translate3d(0, 0, 0);
        }

        25% {
          transform: rotate(3deg) translate3d(0, 0, 0);
        }

        50% {
          transform: rotate(-3deg) translate3d(0, 0, 0);
        }

        75% {
          transform: rotate(1deg) translate3d(0, 0, 0);
        }

        100% {
          transform: rotate(0deg) translate3d(0, 0, 0);
        }
      }

      @keyframes storm1261 {
        0% {
          transform: translate3d(0, 0, 0) translateZ(0);
        }

        25% {
          transform: translate3d(4px, 0, 0) translateZ(0);
        }

        50% {
          transform: translate3d(-3px, 0, 0) translateZ(0);
        }

        75% {
          transform: translate3d(2px, 0, 0) translateZ(0);
        }

        100% {
          transform: translate3d(0, 0, 0) translateZ(0);
        }
      }

      .btn-shine {
        border: 1px solid;
        overflow: hidden;
        position: relative;
      }

      .btn-shine span {
        z-index: 20;
      }

      .btn-shine:after {
        background: #38ef7d;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.4;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
      }

      .btn-shine:hover:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }

    }

    .caja{
      padding-bottom: 35px;
      h2{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
      }
  
      .comentario-caja{
        display: flex;
        padding-left: 30px;
        padding-right: 40px;
        padding-bottom: 15px;
        gap: 20px;
        
  
        img{
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
  
        .comentario{

          .datos{
            display: flex;
            justify-content: space-between;
          }
          background-color: antiquewhite;
          padding: 15px;
          border-radius: 30px;
          width: 100%;
  
          p{
            max-width: 100%;
          }
        }
      }
    }

    .enviar{
      form{
        padding: 20px;
        display: flex;
        gap: 10px;
        align-items: center;

        input{
          width: 100%;
          height: 40px;
          border-radius: 20px;
          padding: 5px;
        }

        img{
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1550px) {

main{
  .contenedor {
      .imagen{
        bm-map {
          display: block;
          height: 700px;
          width: 1500px;
          border-bottom: 3px solid black;
          border-top: 3px solid black;
        }
      }
  }
}

}