<main>
    <section class="contenedor">
        
        <div class="usuario-informacion">
            <div class="detalles-usuario">
                <img src="../../../assets/logos/avatar.png" alt="logo">
                <div class="info">
                    <p>{{marketPlace.usuario!.nombre}}</p>
                    <img src="../../../assets/logos/3estrella.png">
                </div>
            </div>
            <div class="ventas-valoraciones">
                <div class="ventas">
                    <img src="../../../assets/logos/ventas2.png"  alt="dos">
                    <p>{{marketPlace.usuario!.ventas_count}}  ventas</p>
                </div><br>
                <p> 409 valoraciones</p>
            </div>
            <div class="favoritos-mensaje">
                <img src="../../../assets/logos/corazonvacio.png" alt="uno">
                <img src="../../../assets/logos/mapa2.png" alt="uno" (click)="toggle()"> 
            </div>
        </div>

        <div class="imagen">
            @if(toggled){
                <img src="../../../assets/logos/bicicleta.jpg">
            }
            @if(!toggled){
                <bm-map [coords]="coordinates">
                    <bm-marker [coords]="coordinates" color="blue"></bm-marker>
                </bm-map>
            }
        </div>

        <div class="precio-direccion">
            <p>{{marketPlace.precio}}€</p>
            <data>Subido: {{marketPlace.fechaSubida}}</data>
            <div class="direccion">
                <img src="../../../assets/logos/ubicacion.png" alt="j">
                <address>{{marketPlace.usuario?.calle}},{{marketPlace.usuario?.numeroCalle}}</address>
            </div>
        </div>

        <div class="nombre-descripcion">
            <p class="nombre">{{marketPlace.titulo}}o</p>
            <p class="descripcion">{{marketPlace.descripcion}}</p>
        </div>

        <div class="boton">
            <button class="btn-shine">
                <span>Contactar</span>
            </button>
        </div>
    </section>
</main>
