<main>
    <br><br>
    
    <h2> Mi cesta</h2><br>
    <hr><br><br>
    <div class="cesta">

        @for(carrito of carritos;track carrito.id){
            <article class="elemento-cesta1">
                <div class="cesta-productos">
                    <section class="imagen-cesta">
                        <a href="elemento-detallePortatiles.html">
                            <img src="../../../assets/logos/monitor.jpg" alt="imagen">
                        </a>
                    </section>
                    <section class="descripciones-cesta">
                        <p>{{carrito.marcaModelo}}</p>
                        <p class="precio">{{carrito.precio}}€</p>
                        <p class="entrega">¡{{carrito.entrega}}!</p>
                       
                    </section>
                </div>
                <section class="cantidad-cesta">
                    <img src="../../../assets/logos/papelera.png" alt="imagen" (click)="borrarProducto(carrito.id)">
                </section>
            </article>

        }@empty {
            @if(imagen){
                <div class="loader-container">
                    <div class="loader"></div>
                    <div class="loader-text">Loading...</div>
                </div>
            }
            @else {
                <img src="../../../assets/logos/carro2.png" class="carro2">
            }

        }
        
    </div><br><br>
    <div class="vaciar">
        <button (click)="vaciarCarrito()">
            <img src="../../../assets/logos/papelera2.png" >
            Vaciar papelera
        </button>
    </div>

    <hr>

    <div class="botones-confirmar">
        <p>Resumen</p><br>
        
        <div class="total">
            <p>Total(Incluyendo impuestos)</p>
            <p>{{total}}€</p>
            <hr>
        </div><br>
        
        <br>
        <div class="boton">
            <button class="btn-shine" type="submit">
                <span>Realizar compra</span>
            </button>
        </div>
    </div>
    
</main>

